body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:420px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:420px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1017px;
}
#u2 {
  position:absolute;
  left:0px;
  top:420px;
  width:375px;
  height:1017px;
}
#u3 {
  position:absolute;
  left:2px;
  top:500px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
#u4 {
  position:absolute;
  left:0px;
  top:1437px;
  width:375px;
  height:53px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6 {
  position:absolute;
  left:48px;
  top:299px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8 {
  position:absolute;
  left:133px;
  top:299px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u10 {
  position:absolute;
  left:220px;
  top:299px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u12 {
  position:absolute;
  left:309px;
  top:300px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14 {
  position:absolute;
  left:129px;
  top:1429px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u16 {
  position:absolute;
  left:224px;
  top:1429px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u18 {
  position:absolute;
  left:506px;
  top:115px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20 {
  position:absolute;
  left:506px;
  top:299px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u22 {
  position:absolute;
  left:506px;
  top:441px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u24 {
  position:absolute;
  left:506px;
  top:574px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u26 {
  position:absolute;
  left:506px;
  top:726px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u28 {
  position:absolute;
  left:537px;
  top:115px;
  width:263px;
  height:147px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u30 {
  position:absolute;
  left:537px;
  top:299px;
  width:263px;
  height:126px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32 {
  position:absolute;
  left:537px;
  top:441px;
  width:263px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u34 {
  position:absolute;
  left:537px;
  top:574px;
  width:263px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:537px;
  top:726px;
  width:263px;
  height:105px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u38 {
  position:absolute;
  left:506px;
  top:848px;
  width:21px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:537px;
  top:848px;
  width:263px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u42 {
  position:absolute;
  left:280px;
  top:367px;
  width:80px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u44 {
  position:absolute;
  left:290px;
  top:367px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u46 {
  position:absolute;
  left:335px;
  top:344px;
  width:20px;
  height:27px;
}
#u47 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_ann {
  position:absolute;
  left:348px;
  top:340px;
  width:1px;
  height:1px;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u48 {
  position:absolute;
  left:415px;
  top:365px;
  width:101px;
  height:25px;
  color:#FF0000;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:104px;
  height:42px;
}
#u50p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:85px;
  height:2px;
}
#u50p000_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:106px;
  height:42px;
}
#u50p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u50p001_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:23px;
  height:42px;
}
#u50p002 {
  position:absolute;
  left:56px;
  top:-20px;
  width:42px;
  height:42px;
}
#u50p002_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:63px;
  height:82px;
}
#u50.compound {
  width:0px;
  height:0px;
}
#u50 {
  position:absolute;
  left:328px;
  top:372px;
  width:83px;
  height:2px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
