body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
}
#u53 {
  position:absolute;
  left:2px;
  top:352px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:99px;
}
#u54 {
  position:absolute;
  left:0px;
  top:723px;
  width:376px;
  height:99px;
}
#u55 {
  position:absolute;
  left:2px;
  top:42px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u56 {
  position:absolute;
  left:489px;
  top:126px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:523px;
  top:130px;
  width:177px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u60 {
  position:absolute;
  left:20px;
  top:46px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:489px;
  top:46px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:523px;
  top:50px;
  width:177px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
}
#u66 {
  position:absolute;
  left:107px;
  top:10px;
  width:153px;
  height:39px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u68 {
  position:absolute;
  left:132px;
  top:6px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:150px;
  top:19px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:489px;
  top:225px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:523px;
  top:229px;
  width:177px;
  height:48px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u76 {
  position:absolute;
  left:12px;
  top:16px;
  width:20px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
