body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:920px;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:920px;
}
#u308 {
  position:absolute;
  left:2px;
  top:452px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u309 {
  position:absolute;
  left:159px;
  top:27px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u311 {
  position:absolute;
  left:37px;
  top:63px;
  width:117px;
  height:37px;
}
#u312 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u313 {
  position:absolute;
  left:64px;
  top:71px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u315 {
  position:absolute;
  left:223px;
  top:62px;
  width:117px;
  height:37px;
}
#u316 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u317 {
  position:absolute;
  left:262px;
  top:73px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u319_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u319 {
  position:absolute;
  left:340px;
  top:87px;
  width:30px;
  height:40px;
}
#u320 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u319_ann {
  position:absolute;
  left:363px;
  top:83px;
  width:1px;
  height:1px;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u321 {
  position:absolute;
  left:463px;
  top:116px;
  width:197px;
  height:25px;
  color:#FF0000;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:104px;
  height:42px;
}
#u323p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:85px;
  height:2px;
}
#u323p000_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:106px;
  height:42px;
}
#u323p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u323p001_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:23px;
  height:42px;
}
#u323p002 {
  position:absolute;
  left:56px;
  top:-20px;
  width:42px;
  height:42px;
}
#u323p002_img {
  position:absolute;
  left:-1px;
  top:-20px;
  width:63px;
  height:82px;
}
#u323.compound {
  width:0px;
  height:0px;
}
#u323 {
  position:absolute;
  left:370px;
  top:125px;
  width:83px;
  height:2px;
}
#u324 {
  position:absolute;
  left:2px;
  top:-7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
